n8n_workflows/Workflow B - Queue Intake - User Aware.json
{
  "name": "Workflow B - Queue Intake - User Aware",
  "nodes": [
    {
      "parameters": {
        "path": "job-lead-queue",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "id": "d11221d9-0bcf-4639-be8a-0a20180edd53",
      "name": "GET webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2512,
        176
      ],
      "webhookId": "job-lead-queue",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Confirm Outreach</title>\n  <style>\n    body {\n      margin: 0;\n      font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", sans-serif;\n      background: #f4f7fb;\n      color: #1f2937;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      min-height: 100vh;\n    }\n    .card {\n      max-width: 560px;\n      margin: 24px;\n      background: #ffffff;\n      border-radius: 16px;\n      padding: 40px 32px;\n      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);\n      text-align: center;\n      border: 1px solid #e5e7eb;\n    }\n    h1 {\n      margin: 0 0 16px;\n      font-size: 26px;\n      line-height: 1.2;\n      color: #111827;\n    }\n    p {\n      margin: 0 0 20px;\n      font-size: 17px;\n      line-height: 1.6;\n      color: #4b5563;\n    }\n    .ref {\n      font-family: monospace;\n      background: #f3f4f6;\n      padding: 2px 8px;\n      border-radius: 4px;\n      font-size: 14px;\n      word-break: break-all;\n    }\n    button {\n      background: #2563eb;\n      color: #ffffff;\n      border: none;\n      border-radius: 10px;\n      padding: 14px 36px;\n      font-size: 18px;\n      font-weight: 600;\n      cursor: pointer;\n      transition: background 0.2s;\n    }\n    button:hover {\n      background: #1d4ed8;\n    }\n    button:disabled {\n      background: #9ca3af;\n      cursor: not-allowed;\n    }\n    .subtle {\n      margin-top: 18px;\n      font-size: 14px;\n      color: #9ca3af;\n    }\n    .tick {\n      font-size: 42px;\n      line-height: 1;\n      margin-bottom: 18px;\n    }\n    .hidden { display: none; }\n    .error { color: #dc2626; }\n  </style>\n</head>\n<body>\n  <div class=\"card\" id=\"confirmCard\">\n    <h1>Confirm outreach campaign</h1>\n    <p>You are about to queue lead:<br><span class=\"ref\">{{ $json.query.jobRef }}</span></p>\n    <button id=\"btn\" onclick=\"queueLead()\">Queue this lead</button>\n    <p class=\"subtle\">Only pressing the button above will queue the lead.</p>\n  </div>\n\n  <div class=\"card hidden\" id=\"successCard\">\n    <div class=\"tick\">&#10003;</div>\n    <h1>Your outreach campaign will appear in Teams shortly</h1>\n    <p>You can now close this tab.</p>\n    <p class=\"subtle\">Your request has been received and added to the queue.</p>\n  </div>\n\n  <div class=\"card hidden\" id=\"errorCard\">\n    <h1 class=\"error\">Something went wrong</h1>\n    <p id=\"errorMsg\"></p>\n    <button onclick=\"location.reload()\">Try again</button>\n  </div>\n\n  <script>\n    function showError(message) {\n      document.getElementById('confirmCard').classList.add('hidden');\n      document.getElementById('successCard').classList.add('hidden');\n      document.getElementById('errorCard').classList.remove('hidden');\n      document.getElementById('errorMsg').innerText = message || 'Unknown error';\n    }\n\n    function showSuccess() {\n      document.getElementById('confirmCard').classList.add('hidden');\n      document.getElementById('errorCard').classList.add('hidden');\n      document.getElementById('successCard').classList.remove('hidden');\n    }\n\n    function queueLead() {\n      var btn = document.getElementById('btn');\n      btn.disabled = true;\n      btn.innerText = 'Queuing...';\n\n      fetch('https://antonyberou.app.n8n.cloud/webhook/job-lead-queue-confirm', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          jobRef: '{{ $json.query.jobRef }}',\n          userKey: '{{ $json.query.userKey }}'\n        })\n      })\n      .then(function(r) {\n        if (!r.ok) {\n          throw new Error('Queue request failed with status ' + r.status);\n        }\n        return r.json().catch(function() { return {}; });\n      })\n      .then(function() {\n        fetch('https://antonyberou.app.n8n.cloud/webhook/job-queue-drain', {\n          method: 'GET',\n          mode: 'no-cors'\n        }).catch(function() {});\n\n        showSuccess();\n      })\n      .catch(function(e) {\n        showError(e.message);\n      });\n    }\n  </script>\n</body>\n</html>",
        "options": {}
      },
      "id": "d5fb5727-91fb-40d9-b06d-e261faf5ffa3",
      "name": "Respond confirm page",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2768,
        176
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-lead-queue-confirm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a064d7c1-45ee-48ff-ab8d-fba79afff2f3",
      "name": "POST webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2512,
        560
      ],
      "webhookId": "job-lead-queue-confirm",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "queue_id",
              "value": "={{ Date.now().toString() + '-' + Math.random().toString(36).slice(2,8) }}",
              "type": "string",
              "id": "ce19e29e-b80f-4abb-a979-194856164923"
            },
            {
              "name": "jobRef",
              "value": "={{ String($json.body?.jobRef || '').trim() }}",
              "type": "string",
              "id": "2ce2221e-ae5c-47ce-be6f-3430438c1c3d"
            },
            {
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string",
              "id": "e2cc7d16-186e-4003-9b65-a4dd75e186dd"
            },
            {
              "name": "status",
              "value": "pending",
              "type": "string",
              "id": "3d3c1b39-1462-426d-bb8b-f72fd2dddb59"
            },
            {
              "name": "source",
              "value": "webhook",
              "type": "string",
              "id": "2bd1c53d-78db-4a4f-a8a5-eb7da4caeeeb"
            },
            {
              "name": "error",
              "value": "",
              "type": "string",
              "id": "ebdb57a7-29f1-4e5c-908a-f2efaf4ed477"
            },
            {
              "id": "efc81fc2-f200-49c5-801f-cbc3a3deb0fa",
              "name": "userKey",
              "value": "={{ String($json.body?.userKey || '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5b6b528d-7d9e-4719-9d40-137a03e780de",
      "name": "Build queue row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2768,
        560
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1V9EDsDQpqaa9-5zMOe6-_Yzm2ffVplMUIn26jpHAOMw",
          "mode": "list",
          "cachedResultName": "fuck_vacancysoft",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V9EDsDQpqaa9-5zMOe6-_Yzm2ffVplMUIn26jpHAOMw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1481415368,
          "mode": "list",
          "cachedResultName": "Queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V9EDsDQpqaa9-5zMOe6-_Yzm2ffVplMUIn26jpHAOMw/edit#gid=1481415368"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "queue_id": "={{ $json.queue_id }}",
            "jobRef": "={{ $json.jobRef }}",
            "userKey": "={{ $json.userKey }}",
            "receivedAt": "={{ $json.receivedAt }}",
            "status": "={{ $json.status }}",
            "source": "={{ $json.source }}",
            "error": "={{ $json.error || '' }}",
            "queueKey": "={{ ($json.jobRef || '') + '|' + ($json.userKey || '') }}"
          },
          "matchingColumns": [
            "queueKey"
          ],
          "schema": [
            {
              "id": "queue_id",
              "displayName": "queue_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobRef",
              "displayName": "jobRef",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userKey",
              "displayName": "userKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "queueKey",
              "displayName": "queueKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "receivedAt",
              "displayName": "receivedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        560
      ],
      "id": "a7cacefb-2d88-400e-bbf7-b064d574cc29",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yXZppibUV1e9fFir",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"queued\", \"jobRef\": \"{{ $json.jobRef }}\", \"userKey\": \"{{ $json.userKey }}\" }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "866f5e98-b694-4ea9-b4c9-05d28aae7284",
      "name": "Respond queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3328,
        560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "GET webhook": {
      "main": [
        [
          {
            "node": "Respond confirm page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST webhook": {
      "main": [
        [
          {
            "node": "Build queue row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build queue row": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6c4cc5bc-6e78-4327-8c8c-573618755013",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56051bb04f7a2e887ca3ddb180af0435881e8c9b52d04db8fad02d4fe908d32b"
  },
  "id": "7qib9RCRghzNfr5p",
  "tags": []
}